<a href="https://colab.research.google.com/github/anishantony8/AWS/blob/main/API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ND6YN7O40DGP0YYS

In [50]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key='ND6YN7O40DGP0YYS', output_format='pandas')
day = ts.get_intraday('AAPL', interval='30min')
df = day[0]
df

                     1. open  2. high   3. low  4. close  5. volume
date
2023-06-15 19:30:00  185.670   185.76  185.670  185.7300    16442.0
2023-06-15 19:00:00  185.660   185.70  185.650  185.6600     4156.0
2023-06-15 18:30:00  185.690   185.71  185.540  185.6400     6909.0
2023-06-15 18:00:00  185.810   185.81  185.530  185.6900    17491.0
2023-06-15 17:30:00  185.653   185.85  185.653  185.8000    22132.0
...                      ...      ...      ...       ...        ...
2023-06-13 04:00:00  182.760   182.87  182.010  182.5200    61520.0
2023-06-12 19:30:00  183.880   183.99  181.500  182.5099   358974.0
2023-06-12 19:00:00  184.290   184.35  183.790  183.7900    83106.0
2023-06-12 18:30:00  184.050   184.28  184.000  184.2800    27999.0
2023-06-12 18:00:00  184.010   184.04  183.980  184.0000    14691.0

[100 rows x 5 columns]

In [56]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

class Script_Data:
  def fetch_intraday_data(self,stock):
    self.stock = stock

    return self.stock

  def convert_intraday_data(self):
        try:
            ts = TimeSeries(key='ND6YN7O40DGP0YYS', output_format='pandas')
            day = ts.get_intraday(self.stock, interval='30min')
            df = day[0]
            old = df.columns
            new = []
            for i in df.columns:
                new.append(i.split('.')[1].strip())
            col = {k: v for k, v in zip(old, new)}
            df.rename(columns=col, inplace=True)

            df['volume'] = df['volume'].astype(int)
            return self.df
        except ValueError:
            print('Please enter the correct values')

In [58]:
Script_Data().fetch_intraday_data('AAPL').convert_intraday_data()

AttributeError: ignored

In [38]:
class Stock:
    def __getitem__(self, index):
        return Script_Data().fetch_intraday_data(index).convert_intraday_data()

In [39]:
a = Stock()

In [123]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

class Script_Data:
    def __init__(self):
      self.items = ['AAPL','GOOGL']
      self.stock = None


    def fetch_intraday_data(self, stock):
        self.stock = stock
        return self

    def convert_intraday_data(self):
        try:
            ts = TimeSeries(key='ND6YN7O40DGP0YYS', output_format='pandas')
            day = ts.get_intraday(self.stock, interval='60min')
            df = day[0]
            old = df.columns
            new = []
            for i in df.columns:
                new.append(i.split('.')[1].strip())
            col = {k: v for k, v in zip(old, new)}
            df.rename(columns=col, inplace=True)
            df = df.reset_index()
            df['date'] = pd.to_datetime(df['date'])
            df = df.rename(columns={'date': 'timestamp'})
            df['volume'] = df['volume'].astype(int)
            self.data = df
            return self.data
        except ValueError:
            print('Please enter the correct values')
    def __contains__(self, item):
      return item in self.items

class Stocks:
    def __getitem__(self, index):
        return Script_Data().fetch_intraday_data(index).convert_intraday_data()
a = Stocks()
df = a['GOOGL']
df

             timestamp      open      high     low   close   volume
0  2023-06-15 19:00:00  124.7800  124.9000  124.78  124.85     4340
1  2023-06-15 18:00:00  124.8600  124.9490  124.67  124.80     9110
2  2023-06-15 17:00:00  124.9292  124.9699  124.79  124.94     7365
3  2023-06-15 16:00:00  125.0900  125.0900  124.77  124.90  1787361
4  2023-06-15 15:00:00  125.1600  125.4600  124.87  125.11  5862624
..                 ...       ...       ...     ...     ...      ...
95 2023-06-08 04:00:00  122.1500  122.7900  122.08  122.75    20113
96 2023-06-07 19:00:00  122.4900  122.5000  122.34  122.48    15515
97 2023-06-07 18:00:00  122.5500  122.5800  122.38  122.42    12926
98 2023-06-07 17:00:00  122.3000  122.5892  122.30  122.52   919795
99 2023-06-07 16:00:00  122.5000  122.7100  122.26  122.26  2378296

[100 rows x 6 columns]

In [124]:
class Sets:
    def __init__(self):
        self.data = {}

    def __setitem__(self, index, value):
        self.data[index] = value
s = Sets()
s['GOOGL'] = Script_Data().fetch_intraday_data('GOOGL').convert_intraday_data()
print(s.data['GOOGL'])

             timestamp      open      high     low   close   volume
0  2023-06-15 19:00:00  124.7800  124.9000  124.78  124.85     4340
1  2023-06-15 18:00:00  124.8600  124.9490  124.67  124.80     9110
2  2023-06-15 17:00:00  124.9292  124.9699  124.79  124.94     7365
3  2023-06-15 16:00:00  125.0900  125.0900  124.77  124.90  1787361
4  2023-06-15 15:00:00  125.1600  125.4600  124.87  125.11  5862624
..                 ...       ...       ...     ...     ...      ...
95 2023-06-08 04:00:00  122.1500  122.7900  122.08  122.75    20113
96 2023-06-07 19:00:00  122.4900  122.5000  122.34  122.48    15515
97 2023-06-07 18:00:00  122.5500  122.5800  122.38  122.42    12926
98 2023-06-07 17:00:00  122.3000  122.5892  122.30  122.52   919795
99 2023-06-07 16:00:00  122.5000  122.7100  122.26  122.26  2378296

[100 rows x 6 columns]

In [125]:
import pandas as pd

def indicator1(df, timeperiod):
    df['indicator'] = df['close'].rolling(timeperiod).mean()
    result_df = df[['timestamp', 'indicator']]
    return result_df
timeperiod = 5
a= Stocks()
result = indicator1(a['AAPL'], timeperiod=5)
print(result)

             timestamp  indicator
0  2023-06-15 19:00:00        NaN
1  2023-06-15 18:00:00        NaN
2  2023-06-15 17:00:00        NaN
3  2023-06-15 16:00:00        NaN
4  2023-06-15 15:00:00    185.784
..                 ...        ...
95 2023-06-08 04:00:00    177.932
96 2023-06-07 19:00:00    177.924
97 2023-06-07 18:00:00    177.920
98 2023-06-07 17:00:00    177.888
99 2023-06-07 16:00:00    177.790

[100 rows x 2 columns]

In [114]:
timeperiod = 5
result = indicator1(a['GOOGL'], timeperiod)
print(result)

             timestamp  indicator
0  2023-06-15 19:30:00        NaN
1  2023-06-15 19:00:00        NaN
2  2023-06-15 18:30:00        NaN
3  2023-06-15 18:00:00        NaN
4  2023-06-15 17:30:00    124.850
..                 ...        ...
95 2023-06-13 04:00:00    124.544
96 2023-06-12 19:30:00    124.462
97 2023-06-12 19:00:00    124.356
98 2023-06-12 18:30:00    124.218
99 2023-06-12 18:00:00    124.028

[100 rows x 2 columns]

In [121]:
import pandas as pd
import matplotlib.pyplot as plt

class Strategy:
    def __init__(self):
        self.script_data = Script_Data()

    def fetch_intraday_data(self, script):
        self.df = self.script_data.fetch_intraday_data(script).convert_intraday_data()

    def compute_indicator_data(self, timeperiod):
        self.indicator_data = indicator1(self.df, timeperiod)

    def generate_signals(self):
        self.signals = pd.DataFrame(columns=['timestamp', 'signal'])

        # Iterate over the rows of the DataFrame
        for i in range(1, len(self.df)):
            prev_indicator = self.indicator_data['indicator'].iloc[i - 1]
            curr_indicator = self.indicator_data['indicator'].iloc[i]
            prev_close = self.df['close'].iloc[i - 1]
            curr_close = self.df['close'].iloc[i]

            if curr_indicator > curr_close and prev_indicator <= prev_close:
                self.signals = self.signals.append({'timestamp': self.df['timestamp'].iloc[i], 'signal': 'BUY'},
                                                   ignore_index=True)
            elif curr_indicator < curr_close and prev_indicator >= prev_close:
                self.signals = self.signals.append({'timestamp': self.df['timestamp'].iloc[i], 'signal': 'SELL'},
                                                   ignore_index=True)
            else:
                self.signals = self.signals.append({'timestamp': self.df['timestamp'].iloc[i], 'signal': 'NO_SIGNAL'},
                                                   ignore_index=True)

    def plot_signals(self):
        plt.plot(self.df['timestamp'], self.df['close'], color='red', label='close_data')
        plt.plot(self.df['timestamp'], self.indicator_data['indicator'], color='grey', label='indicator_data')

        for i in range(len(self.signals)):
            timestamp = self.signals['timestamp'].iloc[i]
            signal = self.signals['signal'].iloc[i]

            if signal == 'BUY':
                plt.scatter(timestamp, self.df['close'].loc[self.df['timestamp'] == timestamp], color='pink')
            elif signal == 'SELL':
                plt.scatter(timestamp, self.df['close'].loc[self.df['timestamp'] == timestamp], color='blue')
            else:
                plt.scatter(timestamp, self.df['close'].loc[self.df['timestamp'] == timestamp], color='yellow')

        plt.xlabel('Timestamp')
        plt.ylabel('Price')
        plt.legend()
        plt.show()